/*
Theme Name: successean
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: successean
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

successean is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Vanitas';
	font-weight: normal;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
	background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	outline: 0;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
	font-family: 'Vanitas';
	src: url('../successean/assets/fonts/Vanitas-It.eot');
	src: url('../successean/assets/fonts/Vanitas-It.eot?#iefix') format('embedded-opentype'),
		url('../successean/assets/fonts/Vanitas-It.woff2') format('woff2'),
		url('../successean/assets/fonts/Vanitas-It.woff') format('woff'),
		url('../successean/assets/fonts/Vanitas-It.ttf') format('truetype'),
		url('../successean/assets/fonts/Vanitas-It.svg#Vanitas-It') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Vanitas';
	src: url('../successean/assets/fonts/Vanitas-Regular.eot');
	src: url('../successean/assets/fonts/Vanitas-Regular.eot?#iefix') format('embedded-opentype'),
		url('../successean/assets/fonts/Vanitas-Regular.woff2') format('woff2'),
		url('../successean/assets/fonts/Vanitas-Regular.woff') format('woff'),
		url('../successean/assets/fonts/Vanitas-Regular.ttf') format('truetype'),
		url('../successean/assets/fonts/Vanitas-Regular.svg#Vanitas-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ITC Avant Garde Gothic';
	src: url('../successean/assets/fonts/AvantGardeCE-Book.eot');
	src: url('../successean/assets/fonts/AvantGardeCE-Book.eot?#iefix') format('embedded-opentype'),
		url('../successean/assets/fonts/AvantGardeCE-Book.woff2') format('woff2'),
		url('../successean/assets/fonts/AvantGardeCE-Book.woff') format('woff'),
		url('../successean/assets/fonts/AvantGardeCE-Book.ttf') format('truetype'),
		url('../successean/assets/fonts/AvantGardeCE-Book.svg#AvantGardeCE-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ITC Avant Garde Gothic LT';
	src: url('../successean/assets/fonts/AvantGardeLT-Medium.eot');
	src: url('../successean/assets/fonts/AvantGardeLT-Medium.eot?#iefix') format('embedded-opentype'),
		url('../successean/assets/fonts/AvantGardeLT-Medium.woff2') format('woff2'),
		url('../successean/assets/fonts/AvantGardeLT-Medium.woff') format('woff'),
		url('../successean/assets/fonts/AvantGardeLT-Medium.ttf') format('truetype'),
		url('../successean/assets/fonts/AvantGardeLT-Medium.svg#AvantGardeLT-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'ITC Avant Garde Gothic LT';
	src: url('../successean/assets/fonts/AvantGardeLT-ExtraLight.eot');
	src: url('../successean/assets/fonts/AvantGardeLT-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../successean/assets/fonts/AvantGardeLT-ExtraLight.woff2') format('woff2'),
		url('../successean/assets/fonts/AvantGardeLT-ExtraLight.woff') format('woff'),
		url('../successean/assets/fonts/AvantGardeLT-ExtraLight.ttf') format('truetype'),
		url('../successean/assets/fonts/AvantGardeLT-ExtraLight.svg#AvantGardeLT-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

body,
button,
input,
select,
textarea {
	color: #161415;
	font-family: 'Vanitas';
	font-weight: normal;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/




input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

li.current-menu-item a {
	color:#7f7f7f;
	border-bottom: 2px solid rgba(210, 114, 149, 0.5);
	padding-bottom: 10px;
}
#morePadding {
	padding-bottom: 400px;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previouheaders,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Defaults
--------------------------------------------------------------*/
span.italics {
	font-weight: 300;
}
span.pinkFont {
	color:#d77da1;
}
span.whiteFont {
	color:#fff;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	color:#161415;
}
.centerBlock {
	display: inline-block;
}

/*--------------------------------------------------------------
## Site Header
--------------------------------------------------------------*/
.headerContainer {
	width: 100%;
	height: 155px;
	background-color: #fff;
	position: relative;
}
img#flowerLeft {
	position: absolute;
	top:30px;
	left:0;
	height: 95px;
}
img#flowerRight {
	position: absolute;
	top:30px;
	right:0;
	height: 95px;
}
.headerContent {
	margin-left: 150px;
	margin-right: 150px;
	padding-top: 60px;
	overflow: hidden
}
.headerLeft {
	float: left;
	width: 50%;
}
.headerRight{
	float: right;
	width: 50%;
}
.headerLeft h1 {
	margin-top: 0;
	margin-bottom:0;
	letter-spacing: 0.5px;
	font-size: 26.5px;
}
.headerLeft p {
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	font-size: 8px;
	margin-top: 3px;
	padding-right:10px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: inline-block;
	vertical-align: top;
	color:rgba(22, 20, 21, 0.65);
}
.headerRight .callToAction {
	overflow: hidden;
	text-align: right;
}
.headerRight .callToAction .callToActionButtons {
	padding-right: 20px;
}

.headerRight p {
	font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    font-size: 10px;
    margin-bottom: 5px;
    padding-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgba(22, 20, 21, 0.65);
}
.headerRight .callToAction img {
	height: 13px;
	display: inline-block;
	vertical-align: top;
	padding-right: 5px; 
}
.headerRight .callToAction a.contactBtn button{
	background-image:url(assets/img/fade-pink.png); 
	background-size: cover;
	color:#fff;
	border:0;
	height: 20px;
	width: 100px;
	display: inline-block;
	vertical-align: center;
	font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 8.5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}
.headerRight .callToAction a.contactBtn#emailBtn button {
	margin-left: -2px;
	background-image:url(assets/img/fade-black.png); 
}

nav.siteNav{
	height: 40px;
	background-color:rgba(243, 243, 243, 0.75);
	text-align:center;
	padding-top: 8px;
	position: relative;
	z-index: 99;
}

ul#primary-menu li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 11px;
}
ul.sub-menu {
	position: absolute;
	top:40px;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 99;
	border-top: 0;
	margin-left: -8px;
	background-color: rgba(243, 243, 243, 0.75);
	display: none;
}

ul.sub-menu li {
	display: block !important;
	margin-right: 0;
	text-align: left;
	padding-left: 8px !important;
	padding-bottom: 10px;
}
ul.sub-menu li a:hover {
	color:#d77da1;
}

li.menu-item-has-children {
	height: 30px;
	
}

li.menu-item-has-children a {
	border-bottom: 0 !important;
}
li.menu-item-has-children a:hover {
	cursor: default;
}
li.menu-item-has-children:hover > ul.sub-menu {
	display: block;
}
li.menu-item-has-children:hover > ul.sub-menu a {
	cursor: pointer;
}
/*--------------------------------------------------------------
## Site Footer
--------------------------------------------------------------*/
footer {
	height: 65px;
	background-color: rgba(210, 114, 149, 0.5);
}
.footerContainer {
	width: 85%;
	margin: 0 auto;
	overflow: hidden;
}
.footerText {
	float: left;
	width: 35%;
	padding-top: 15px;
}
.footerAwards {
	float: left;
	width: 15%;
}
.footerSocial {
	float: right;
	width: 50%;
	padding: 8px;
	padding-top: 23px;
}
.footerAwards img {
	height: 58px;
	padding-top: 6px;
}
footer p {
	font-size: 11px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	letter-spacing: 2px;
	margin-top:0;
	margin-bottom: 5px;
}
footer a {
	color:#fff !important;
	font-weight: normal !important;
}
footer ul li {
	display: inline-block;
	margin-right:10px;
}
footer ul li img {
	height: 15px;

}
.footerSocial {
	text-align: right;
}

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/
main {
	width: 100%;
}
.mainBanner {
	width: 100%;
	height: 700px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: -40px;
	position: relative;
}
.mainBannerLeft {
	background-color:rgba(210, 114, 149, 0.85);
	position: absolute;
	z-index: 1;
	bottom:0;
	height: calc(100% - 40px);
	width: 45%;
}
.mainBannerContent {
	position: absolute;
	z-index: 2;
	width: 86%;
	text-align: center;
	padding-top: 60px;
}

.mainBannerContent h1 {
	font-size: 58px;
	text-transform: uppercase;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	letter-spacing: 13px;
	text-align: left;
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased;
}
.mainBannerContent h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 93px;
	letter-spacing: 18px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
}

.mainBannerContent h3 {
	font-size: 60px;
	text-transform: uppercase;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	letter-spacing: 13px;
	text-align: left;
	color:#fff;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased;
}
.mainBannerContent p {
	margin-top: 20px;
	font-size: 29px;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 200;
	letter-spacing: 1.8px;
	text-align: left;
	-webkit-font-smoothing: antialiased;
}

.mainBannerContent a button {
	width: 210px;
	height: 40px;
	display: block;
	background-color: transparent;
	border: 2px solid #161415;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*EXPERIENCES SECTION*/
.experienceWrapper {
	width: 970px;
	margin: 0 auto;
}
.experiences .header {
	width:100%;
	padding-top: 70px;
	padding-bottom: 25px;
}
.experiences .header h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 46px;
	letter-spacing: 8px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
}

.experiences .header p {
	margin-top: 8px;
	font-size: 23px;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 200;
	letter-spacing: 1.8px;
	text-align: center;
	color:#d77da1;
	-webkit-font-smoothing: antialiased;
}

.experienceBlock {
	width: 100%;
	overflow: hidden;
	height: 400px;
	margin-bottom: 25px;
}
.experienceImage {
	background-size: cover;
	background-position: bottom;
	float: left;
	width: 55%;
	height: 100%;
}
.experienceText {
	float: left;
	width: 45%;
	padding: 0 0 0 50px;
}
.experienceText h3 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 35px;
	letter-spacing: 7px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 0;
	margin-bottom: 25px;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
}
.experienceText h6 {
	font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    font-size: 9px;
    margin-top: 3px;
    padding-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: inline-block;
    vertical-align: top;
    color: rgba(22, 20, 21, 0.65);
}

.experienceText p {
	font-size: 9.5px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	letter-spacing: 1.8px;
	line-height: 2em;
	text-align: left;
	width: 97%;
	-webkit-font-smoothing: antialiased;
}
.experienceText a button {
	width: 120px;
	height: 30px;
	display: block;
	background-color: transparent;
	border: 2px solid #c2718d;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 8.5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}


/*OUR STORY FRONTPAGE*/
section.story {
	padding-top: 70px;
	padding-bottom: 30px;
	width: 970px;
	margin: 0 auto;
}
.storyContainer {
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	width: 890px;
	margin-right: 0;
	margin-left: auto;
}
.storyWrapper {
	width: 620px;
		margin-right: 0;
	margin-left: auto;
}
.experiences .header {
	width:100%;
	padding-top: 70px;
	padding-bottom: 25px;
}
section.story .header h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 46px;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
}
section.story .header img {
	display: inline-block;
	vertical-align: middle;
	height: 55px;
	margin-left: 20px;
}

section.story .header p {
	margin-top: 8px;
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 23px;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 200;
	letter-spacing: 1.8px;
	color:#d77da1;
	-webkit-font-smoothing: antialiased;
}
.storyContent {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    width: 100%;
    padding-top: 20px;
}
.storyContent p {
	font-size: 9.5px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	letter-spacing: 1.8px;
	line-height: 2em;
	text-align: left;
	margin-top: 0;
	width: 90%;
	-webkit-font-smoothing: antialiased;
}


/*CONTACT FRONT-PAGE*/
section.contact {
	padding-top: 70px;
	padding-bottom: 100px;
	width: 970px;
	margin: 0 auto;
}
.contactContainer {
	background-size: contain;
	background-position: top right;
	background-repeat: no-repeat;
	width: 890px;
	margin:0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
section.contact form h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 38px;
	letter-spacing: 7px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
}
section.contact form h6 {
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 9.5px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color:rgba(215, 125, 161, 0.85);
	margin-bottom: 12px;
}
section.contact form p {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 9px;
}
section.contact form input[type="text"],
section.contact form input[type="email"],
section.contact form textarea {
	background-color: #f3f3f3;
	border:0;
	border-radius: 4px;
	font-size: 10px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	color:rgba(22, 20, 21, 0.35);
	padding: 10px;
	letter-spacing: 1px;
	width: 75%;
	outline:0;
}
section.contact form textarea {
	height: 80px;
}
.inlineInput {
    float: left;
    width: 50%;
    line-height: 9px;
}
.inlineInput input[type="text"],
.inlineInput input[type="email"] {
	width: 100% !important;
}
.inlineInput input[type="email"] {
	border-right: 4px solid #fff !important;
}
.inlineInput input[type="text"] {
	border-left: 4px solid #fff !important;
}
.floated {
	width: 75%;
	overflow: hidden;
}
p.inlineText {
	font-size: 11px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	font-style: italic;
	letter-spacing: 1px;
	color:rgba(22, 20, 21, 0.60);
	display: inline-block;
	vertical-align: middle;
}
section.contact form input[type="submit"] {
	display: block;
	vertical-align: middle;
	border: 0;
	background-color:#d27295;
	color:#fff;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 3px;
	width: 108px;
	height: 22px;
	margin-top: 12px;
}
p.inlineButton {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.contactSubmit {
	text-align: right;
	width: 75%;
}


/*--------------------------------------------------------------
## BEFORE & AFTER PAGE
--------------------------------------------------------------*/
.baWrapper {
	width: 970px;
	margin: 0 auto;
}
.beforeAfter .header {
	width:100%;
	padding-top: 40px;
	padding-bottom: 10px;
}
.beforeAfter .header h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 48px;
	letter-spacing: 8px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
}

.beforeAfter .header p {
	margin-top: 8px;
	font-size: 23px;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 200;
	letter-spacing: 2px;
	text-align: center;
	color:#d77da1;
	-webkit-font-smoothing: antialiased;
}

section.booking {
	width: 100%;
	margin: 0 auto;
}

.bookingHeader {
	width: 970px;
	margin: 0 auto;
	text-align: center;
}

.bookingHeader h4 {
	font-family: 'Vanitas';
    font-weight: 300;
    font-size: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
}

.bookingHeader a button {
	display: inline-block;
	vertical-align: middle;
}
.bookingHeader a#appointment button {
	width: 210px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #161415;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 8px;
}
.bookingHeader a#learnMore button {
    width: 120px;
    height: 33px;
    background-color: transparent;
    border: 2px solid #c2718d;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 8.5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 8px;
}

.transformation {
	width: 99%;
	margin: 0 auto;
	padding-bottom: 50px;
}

/*SWIPER SLIDER*/

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
body.category .swiper-slide {
	background-size:cover;
	height: 700px !important;
}
body.category .swiper-pagination-fraction, body.category .swiper-pagination-custom, body.category .swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 0;
}
body.category .transformCaption {
	bottom: 0 !important;
}
.swiper-slide img {
	padding-bottom: 45px;
}
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	opacity: .5
}
.swiper-pagination-bullet-active {
	background:#d27295;
	opacity: 1;
}
.transformCaption {
	position: absolute;
	z-index: 99;
	left: 0;
	bottom: 45px;
	width: 100%;
	background-color: rgba(243, 243, 243, 0.85);	
	padding-bottom: 8px;
}
.transformCaption h6 {
	margin-top: 0;
	margin-bottom:0;
	padding-top: 13px;
	padding-bottom: 5px;
	padding-left: 15px;
	text-align: left;
	text-transform: uppercase;
	text-indent: 10px;
	letter-spacing: 2px;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 10px;
}
.transformCaption p {
	margin-top: 0;
	margin-bottom:0;
	font-size: 9.5px;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.7em;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 16px;
    width: 85%;
}

/*BEFORE & AFTER CONTACT FORM*/
.page-id-13 .contactContainer {
	width: 50%;
}
.page-id-13 form.wpcf7-form {
    width: 630px;
    margin: 0 auto;
}


/*--------------------------------------------------------------
## REGISTRY PAGE
--------------------------------------------------------------*/

.registryWrapper {
	width: 970px;
	margin: 0 auto;
}
.registry .header {
	width:100%;
	padding-top: 40px;
	padding-bottom: 10px;
}
.registry .header h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 48px;
	letter-spacing: 8px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
}

.registry .header p {
	margin-top: 8px;
	font-size: 23px;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 200;
	letter-spacing: 2px;
	text-align: center;
	color:#d77da1;
	-webkit-font-smoothing: antialiased;
}

/*CONTACT FRONT-PAGE*/
.registryMain {
	float: left;
    width: -webkit-calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    width: calc(100% - 300px);
    margin-left: 0;
    margin-right: auto;
    width: 70%;
}
.registryForm {
	padding-bottom: 100px;
	width: 970px;
	margin: 0 auto;
	padding-left: 100px;
}
.registryForm .floated {
	width: 90%;
}
.registryForm .contactContainer {
	background-size: contain;
	background-position: top right;
	background-repeat: no-repeat;
	width: 890px;
	margin:0 auto;
	padding-bottom: 30px;
	padding-top: 0;
}
.registryForm form h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 32px;
	letter-spacing: 7px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
}
.registryForm form p {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 9px;
}
.registryForm form label{
	font-size: 12px;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.6em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    color:#d77da1;
}
.registryForm form input[type="text"],
.registryForm form input[type="email"],
.registryForm form textarea {
	background-color: #f3f3f3;
	border:0;
	border-radius: 4px;
	font-size: 10px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	color:rgba(22, 20, 21, 0.7);
	padding: 10px;
	letter-spacing: 1px;
	width: 90%;
	outline:0;
}
.registryForm form textarea {
	height: 80px;
}
.inlineInput {
    float: left;
    width: 50%;
    line-height: 9px;
}
.inlineInput input[type="text"],
.inlineInput input[type="email"] {
	width: 100% !important;
}
.inlineInput input[type="email"] {
	border-right: 4px solid #fff !important;
}
.inlineInput input[type="text"] {
	border-left: 4px solid #fff !important;
}
.floated {
	width: 75%;
	overflow: hidden;
}
p.inlineText {
	font-size: 11px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	font-style: italic;
	letter-spacing: 1px;
	color:rgba(22, 20, 21, 0.60);
	display: inline-block;
	vertical-align: middle;
}
.registryForm form input[type="submit"] {
	display: block;
	vertical-align: middle;
	border: 0;
	background-color:#d27295;
	color:#fff;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 3px;
	width: 108px;
	height: 22px;
	margin-top: 12px;
}
p.inlineButton {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.contactSubmit {
	text-align: right;
	width: 75%;
}

/*--------------------------------------------------------------
## TESTIMONIALS PAGE
--------------------------------------------------------------*/
section.testimonials {
	width: 100%;
	margin: 0 auto;
}
section.testimonials .header {
	width:100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
section.testimonials .header h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 48px;
	letter-spacing: 8px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
}
.testimonialsBanner {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
}
.testimonialsBanner h6 {
	text-transform: uppercase;
    letter-spacing: 2.5px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 10px;
    color:rgba(22, 20, 21, 0.65);
    margin-bottom: 15px;
}
.testimonialsBanner .starRating h6 {
	display: inline-block;
	vertical-align: bottom;
	letter-spacing: 2.5px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 12px;
    color:#d77da1;
    margin-top: 0;
    margin-bottom: 0;
}
.testimonialsBanner .starRating img {
	display: inline-block;
	vertical-align: middle;
	height: 15px;
	margin-left: 7px;
    font-size: 23px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    color: #d77da1;
    -webkit-font-smoothing: antialiased;
}
.testimonialsBanner p {
	font-size: 22px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 200;
    letter-spacing: 1.8px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    width: 54%;
    margin: 0 auto;
    padding-top: 20px;
}
.testimonialsBanner p a {
	border-bottom: 1px solid #d77da1;
}

.testimonialGrid {
	width: 100%;
	padding-bottom: 20px;
	margin-top: -70px;
}
.testimonialGridWrapper {
	width: 970px;
	margin: 0 auto;
	overflow: hidden;
}
.testimonialHeader {
	background-color: #d77da1;
	height: 70px;
	padding-top: 27px;
}
.testimonialHeader h6 {
	text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 12px;
    color:#fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.testimonialGrid ul {
	width: 100%;
	border-bottom: 1px solid rgba(35, 31, 32, 0.15);
	overflow: hidden;
}
.testimonialGrid ul li {
	float: left;
	width: 33.3%;
	padding: 17px 10px 20px 25px;
	border-left:1px solid #d77da1;
	border-bottom:1px solid #d77da1;
	height: 200px;
	overflow:hidden;
}
.mylightbox {
	display: none;
}
.featherlight .mylightbox {
	display: block;
	
}
.featherlight .featherlight-content {
	padding: 0;
	border: 1px solid #d77da1;
}
.featherlight .testimonialHeader {
	padding-top: 3px;
}
.featherlight .mylightbox h3 {

	font-family: 'Vanitas';
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    	padding: 0;
	margin: 0;
    -webkit-font-smoothing: antialiased;
	color:#fff;
}
.featherlight .mylightbox h4 {
	padding: 0;
	margin: 0;
	    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.featherlight .featherlight-close-icon {
	color:#fff;
}
.featherlight .mylightbox p {
	font-size: 12px;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 90%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.testimonialGrid ul li:last-child {
	border-right: 1px solid #d77da1;
}
.testimonialGrid ul li:nth-child(3n) {
	border-right:1px solid #d77da1;
}
.testimonialGrid ul li:hover {
	background-color: #161415;
	color:#fff !important;
	cursor: pointer;
}
.testimonialGrid ul li:hover > h4 {
	color:#fff;
}
.testimonialGrid ul li h3 {
font-family: 'Vanitas';
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
}
.testimonialGrid ul li h4 {
	text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 10px;
    color:rgba(22, 20, 21, 0.65);
    text-align: left;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.testimonialGrid ul li p {
	font-size: 12px;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6px;
    width: 95%;
    -webkit-font-smoothing: antialiased;
}
.testimonialGrid ul li h4 a {
	color:#af9fb3;
}

.testimonialFooter {
	background-color: #d77da1;
	height: 130px;
	margin-top: -1px;
	padding-top: 32px;
}
.testimonialFooter h6 {
	text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.65);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.testimonialFooter p {
	color:#e6bfcd;
	font-size: 26px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 200;
    letter-spacing: 1.8px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    padding-top: 15px;
}
.testimonialFooter p a {
	color:#fff;
	border-bottom: 1px solid #e6bfcd;
}


/*NEWSLETTER*/
section.newsletter {
	padding-top: 70px;
	padding-bottom: 100px;
	width: 970px;
	margin: 0 auto;
}
.newsletterWrapper {
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
}
.newsletterFloat {
	float: left;
	width: 40%;
	text-align: right;
	padding-top: 60px;
}
.newsletterFloat img {
	height: 200px;
	margin-right: 15px;
}
.newsletterContainer {
	margin:0 auto;
	padding-bottom: 30px;
}
section.newsletter h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 38px;
	letter-spacing: 7px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
}
section.newsletter form h6 {
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color:rgba(215, 125, 161, 0.85);
	margin-bottom: 12px;
}
section.newsletter form p {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 9px;
}
section.newsletter form input[type="text"],
section.newsletter form input[type="email"] {
	background-color: #f3f3f3;
	border:0;
	border-radius: 4px;
	font-size: 10px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	color:rgba(22, 20, 21, 0.35);
	padding: 10px;
	letter-spacing: 1px;
	width: 75%;
	outline:0;
}

section.newsletter form input[type="submit"] {
	display: block;
	vertical-align: middle;
	border: 0;
	background-color:#d27295;
	color:#fff;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 3px;
	width: 125px;
	height: 25px;
	margin-top: 12px;
}

.callUsContainer p {
	font-size: 13px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	letter-spacing: 2.5px;
	margin-bottom: 5px;
	color:#868686;
}
.callUsContainer a {
	color:#d77da1 !important;
	font-weight: normal !important;
}


/*--------------------------------------------------------------
## ABOUT US PAGE
--------------------------------------------------------------*/
section.about {
	width: 100%;
	margin: 0 auto;
}
section.about .header {
	width:100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
}
section.about .header h2 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 48px;
	letter-spacing: 8px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
}
.aboutNews {
	background-color: #d27295;
	width:100%;
}
.aboutNewsWrapper {
	width: 85%;
	margin: 0 auto;
	overflow: hidden;
}
.aboutNewsLeft {
	float: left;
	width: 30%;
	border-right: 1px solid rgba(22, 20, 21, 0.2);
	padding-top:50px;
	height: 210px;
}
.aboutNewsRight {
	float: left;
	width: 70%;
	padding-top:40px;
	padding-left: 7%;
	padding-right: 7%;
}
.aboutNewsLeft ul {
	overflow: hidden;
	width: 250px;
}
.aboutNewsLeft ul li {
	width: 50%;
	float: left;
	color:rgba(22, 20, 21, 0.65);
	text-transform: uppercase;
    letter-spacing: 2.75px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 10px;
    margin-bottom: 20px;
}
.aboutNewsLeft a button {
	height: 30px;
	padding-left: 17px;
	padding-right: 17px;
	margin-top: 5px;
	margin-left: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color:#fff;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}
.aboutNewsLeft ul li img {
	height: 16px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: bottom;
}
.aboutNewsRight h4 {
	color: #fff;
    font-size: 30px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 200;
    letter-spacing: 1.8px;
    line-height: 1.4em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}

.aboutNewsForm p.input {
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 1em;
	width: 35%;
	margin-right: 1%;
	float: left;
}
.aboutNewsForm p.submit {
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 1em;
	width: 25%;
	margin-left: 1%;
	float: left;
}
.aboutNewsForm p.submit input {
	background-color: #000;
	color:#fff;
	text-transform: uppercase;
	width: 105px;
}
.aboutNewsForm p input {
	width: 100%;
	border: 0;
    border-radius: 4px;
    font-size: 10px;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    color: rgba(22, 20, 21, 0.25);
    padding: 10px;
    letter-spacing: 1px;
    outline: 0;
}

.aboutUsContent {
	width: 100%;
}
.aboutUsContentWrapper {
	width: 98%;
	margin: 0 auto;
	overflow: hidden;
	padding: 25px 20px;
}
.aboutUsSidebar {
	float: left;
	width: 300px;
}
.aboutUsMain {
	float: left;
	 width: -webkit-calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    width: calc(100% - 300px);
	margin-left: 0;
	margin-right: auto;
	padding-top: 20px;
	width: 70%;
	margin-right: auto;
	text-align: center;
}
.aboutUsMainContent {
	margin-left: 300px;
}
.facebookBlock {
	padding: 20px 30px;
	background-color: #161415;
}
.facebookBlock h4 {
	font-size: 23px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 200;
    letter-spacing: 1.8px;
    line-height: 1.6em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 12px;
}
.facebookBlock img {
	height: 20px;
}
.aboutUsMain h4 {
	padding-left: 100px;
	width: 100%;
	margin-right: auto;
}
.aboutUsMain h4,
.aboutUsMainContent h4 {
	color: rgba(22, 20, 21, 0.65);
    font-size: 27px;
    font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.65em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 0;
}
.aboutUsMainContent h4  {
	margin-bottom: 0;
	padding-left: 100px;
	width: 100%;
}
.aboutUsMain img {
	width: 30%;
	margin:20px auto;
	text-align: center;
	padding-top: 20px;
}
.aboutUsMainContent p {
	font-size: 14px;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
    	padding-left: 100px;
	width: 95%;
}
#aboutUsMainContentImg {
	text-align: center;
	margin-bottom: 50px;
}
#aboutUsMainContentImg img {
	width: 600px;
	margin: 0 auto;
}
.facebookBlock p {
	color:#fff;
	font-size: 11px;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.7em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    width: 80%;
}
.sidebarBlock {
	margin-top: 20px;
	padding:20px;
	background-color: #f3f3f3;
}
.sidebarBlock p {
	font-size: 11.5px;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.6em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-top: 2px;
}
.sidebarBlock h6 {
	font-size: 10px;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.6em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    margin-bottom: 0;
    opacity: 0.6;
}
.sidebarBlock .blockContent {
	border-bottom: 1px solid rgba(22, 20, 21, 0.1);
}
.sidebarBlock .blockContent:last-child {
	border-bottom: 0;
}
.sidebarBlock .callToAction {
	overflow: hidden;
	padding-top: 10px;
}
.sidebarBlock .callToAction a.bookBtn button{
	background-image:url(assets/img/fade-black.png); 
	background-size: cover;
	color:#fff;
	border:0;
	height: 25px;
	width: 100%;
	font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 8.5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 2px;
}

.sidebarBlock .callToAction a.contactBtn button{
	background-image:url(assets/img/fade-pink.png); 
	background-size: cover;
	color:#fff;
	border:0;
	height: 25px;
	float: left;
	width: 49.5%;
	font-family: 'ITC Avant Garde Gothic LT';
    font-weight: 500;
    font-size: 8.5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}
.sidebarBlock .callToAction a.contactBtn#emailBtn button {
	margin-left: 1%;
}


/*SERVICES SECTION*/
.servicesWrapper {
	width: 95%;
	margin: 0 auto;
	padding-bottom: 50px;
}
.servicesMenu{
	height: 60px;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	z-index: 99;
}

.servicesMenu ul li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-family: 'ITC Avant Garde Gothic LT';
	font-weight: 500;
	font-size: 9.5px;
}
.servicesMenu ul li:hover a {
	color:rgba(210, 114, 149, 0.5);
}
.servicesBlock {
	width: 100%;
	overflow: hidden;
	height: 400px;
	outline:0;
}
.servicesImage {
	background-size: cover;
	background-position: bottom;
	float: left;
	width: 50%;
	height: 100%;
}
.servicesText {
	float: left;
	width: 50%;
}
.servicesText h3 {
	font-family: 'Vanitas';
	font-weight: 300;
	font-size: 35px;
	letter-spacing: 7px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 0;
	margin-bottom: 25px;
	line-height: 1.1em;
	-webkit-font-smoothing: antialiased;
	background-color: #393738;
	color:#fff;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 45px;
}
.servicesText h5 {
	font-family: 'ITC Avant Garde Gothic';
    font-weight: normal;
    font-size: 16px;
    padding-top: 5px;
    letter-spacing: 1.5px;
    color: rgba(22, 20, 21, 0.65);
    width: 85%;
    padding-left: 45px;
    margin-bottom: 15px;
}

.servicesText p {
	font-size: 10px;
	font-family: 'ITC Avant Garde Gothic';
	font-weight: normal;
	letter-spacing: 1.8px;
	line-height: 2.2em;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	width: 85%;
    padding-left: 45px;
}
.servicesBreak {
	width: 100%;
	padding-top: 35px;
	padding-bottom: 70px;
	position: relative;
}
.servicesBreak img#flowerLeft,
.servicesBreak img#flowerRight {
	top:35%;
}
.servicesBreakWrapper {
	width: 500px;
	overflow: hidden;
	margin: 0 auto;
}
.servicesBreak .sidebarBlock {
	width: 50%;
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	height: 248px;
}
.servicesBreak .facebookBlock {
	width: 50%;
	float: left;
	height: 248px;
}
/*--------------------------------------------------------------
## Mobile
--------------------------------------------------------------*/

@media screen and (min-width: 871px) {
	.mobileView {
		display: none;
	}
}
@media screen and (max-width: 870px) {

	/*MOBILE MENU*/
	button#responsive-menu-button {
		outline: 0;
	}
	div#responsive-menu-container {
		margin-top: 125px;
	}



	.desktopView {
		display: none;
	}
	nav.siteNav {
		display: none;
	}
	ul#primary-menu {
		display: none;
	}
	.headerContainer {
		height: 125px;
	}
	img#flowerLeft,
	img#flowerRight {
		display: none;
	}
	.headerContent {
		margin: 0 auto;
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.headerLeft h1 {
		font-size: 20px;
	}
	.headerRight .callToAction .callToActionButtons {
		padding-right: 15px;
	}
	.mainBanner {
		height: 500px;
		margin-top: 0;
	}
	.mainBannerContent {
		left: 15px;
		color:#fff !important;
	}
	.mainBannerContent br {
		display: none;
	}
	.mainBannerContent h1 {
		font-size: 32px;
	}
	.mainBannerContent h2 {
		font-size: 54px;
	}
	.mainBannerContent p {
		font-size: 18px;
	}
	.mainBannerLeft {
		width: 100%;
		background-color: rgba(210, 114, 149, 0.65);
		height: 100%;
	}

	/*EXPERIENCES SECTION*/
	.experienceWrapper {
		width: 95%;
	}
	.experiences .header p {
		font-size: 18px;
	}
	.experienceBlock {
		height: 290px;
		margin-bottom: 20px;
	}
	.experienceImage {
		width: 50%;
	}
	.experienceText {
		width: 50%;
		padding: 0 0 0 15px;
	}
	.experienceText h6 {
		margin-bottom: 5px;
	}
	.experienceText h3 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.experienceText p {
		font-size: 9px;
		line-height: 1.5em;
		width: 100%;
	}
	.experienceText a button {
		margin-top: 20px;
	}

	/*STORY SECTION*/
	section.story {
		width: 95%;
	}
	.storyContainer {
		width: 98%;
		margin: 0 auto;
	}
	.storyWrapper {
		width: 100%;
	}
	section.story .header h2 {
		font-size:32px;
	}
	.storyContent {
		-webkit-column-count: 1;
    	-moz-column-count: 1;
    	column-count: 1;
	}


	/*CONTACT SECTION */
	section.contact {
		padding-top: 0;
		width: 95%;
	}
	section.contact {
		width: 95%;
	}
	.contactContainer {
		width: 100%;
	}
	section.contact form input[type="text"], section.contact form input[type="email"], section.contact form textarea {
		width: 100%;
	}
	.floated {
		width: 100%;
	}
	.contactSubmit {
		width: 100%;
	}
	footer {
		height: 100px;
	}
	.footerText {
		float: none;
		width: 100%;
	}


	/*BEFORE & AFTER PAGE*/
	.page-id-13 br {
		display: none;
	}
	.baWrapper {
		width: 100%;
	}
	.beforeAfter .header h2 {
		font-size: 28px;
	}
	.beforeAfter .header p {
		font-size: 14px;
	}
	.transformCaption p {
		padding-bottom: 0;
		width: 100%;
	}
	.swiper-button-prev, 
	.swiper-button-next {
		top:40%;
	}
	.bookingHeader {
		width: 100%;
	}
	.bookingHeader h4 {
		font-size: 22px;
	}
	section.booking {
		width: 95%;
	}
	.page-id-13 .contactContainer {
		width: 95%;
	}
	.page-id-13 form.wpcf7-form {
		width:100%;
	}
	.page-id-13 section.contact form p {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	body.category .swiper-slide {
		height: 400px !important
	}

	/*SERVICES PAGE*/
	.servicesMenu {
		display: none;
	}
	.servicesBlock {
		height: auto;
		margin-bottom: 10px;
	}
	.servicesText {
		float: none;
		width: 100%;
	}
	.servicesImage {
		float: none;
		width: 100%;display: none;
	}
	.servicesText h3 {
		padding-left: 0;
		text-align: center;
		margin-bottom: 10px;
		font-size: 26px;
	}
	.servicesText h5 {
		padding-left: 0;
		text-align: center;
		margin: 0 auto 10px;
		width: 90%;
		line-height: 1.25em;
	}
	.servicesText p {
		padding-left: 0;
		text-align: center;
		margin: 0 auto;
		width: 90%;
		line-height: 1.5em;
	}
	.servicesBreak {
		padding-top: 0;
		padding-bottom: 30px;
	}
	.servicesBreakWrapper {
		width: 100%;
	}
	.servicesBreak .sidebarBlock {
		float: none;
		width: 90%;
		margin: 0 auto;
	}
	.servicesBreak .facebookBlock {
		width: 90%;
		float: none;
		margin: 0 auto;
	}

	/*TESTIMONIALS PAGES*/
	section.testimonials .header {
		background-color: #FBFBFB;
	}
	section.testimonials .header h2 {
		font-size: 30px;
	}
	.testimonialsBanner p {
		width: 95%;
		font-size: 18px;
	}
	.testimonialGridWrapper {
		width: 100%;
	}
	.testimonialGrid ul li {
		float: none;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #d77da1;
	}
	.testimonialGrid ul li:nth-child(3n) {
		border-right: 0;
	}
	.testimonialFooter p {
		font-size: 16px;
	}
	section.newsletter {
		width: 97%;	
	}
	.newsletterFloat {
		display: none;
	}
	.newsletterWrapper {
		width: 95%;
	}
	section.newsletter form h6 {
		font-size: 12px;
	}
	section.newsletter form input[type="text"], section.newsletter form input[type="email"] {
		width: 100%;
	}

	/*ABOUT US PAGE*/
	body.page-about-us .aboutUsSidebar {
		display: none;
	}
	.aboutNewsLeft {
		width: 100%;
		float: none;
		height: auto;
		text-align: center;
		border-right:0;
	}
	.aboutNewsLeft ul {
		width: 100%;
	}
	.aboutNewsRight {
	    float: none;
	    width: 100%;
	    padding-top: 20px;
	    padding-left: 0;
	    padding-right: 0;
	}
	.aboutNewsRight h4 {
		text-align: center;
		font-size: 22px;
	}
	.aboutNewsForm p.submit input {
		width: 92px;
	}
	.aboutUsMain {
		width: 100%;
		float: none;
	}
	.aboutUsMain h4 {
		padding-left: 0;
		width: 90%;
		margin: 0 auto;
		font-size: 20px;
	}
	.aboutUsMain img {
		padding-left: 0;
	}
	.aboutUsMainContent {
		margin-left: 0;
	}
	.aboutUsMainContent h4,
	.aboutUsMainContent p {
		padding-left: 0;
		width: 90%;
		margin: 0 auto;
	}
	#aboutUsMainContentImg img {
		margin-top: 30px;
	}


	/*REGISTRY PAGE*/
	body.page-registry .aboutUsSidebar{
		display: none;
	}
	.registryWrapper {
		width: 90%;
	}
	.registry .header p {
		font-size: 18px;
	}
	.registry .header p br {
		display: none;
	}
	.registryMain {
		float: none;
		margin: 0 auto;
		width: 90%;
	}
	.registryForm {
		width: 100%;
		padding-left: 0;
	}
	.registryForm .contactContainer {
		width: 100%;
	}
	.inlineInput {
		float: none;
		width: 100%;
	}

	/*FOOTER*/
	.footerContainer {
		width: 95%;
	}
	.footerAwards {
		display: none;
	}
	.footerSocial {
		padding-top: 8px;
	}
}